<div class="container">
    <br><h1>Add a new order</h1><br>
    <form>

      <div class="form-group">
        <label>Client</label>
        <div class="input-group">
          <input [(ngModel)]="clientName" name="clientName" type="text" class="form-control">
          <span class="input-group-btn">
            <button id="search" class="btn btn-secondary" type="button" (click)="openModal()">
              Search
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Date</label>
        <input [ngModel]="date" (ngModelChange)="date = $event" name="date" type="datetime-local" class="form-control">
      </div>

      <div class="form-group">
        <label>Payment type</label>
        <select class="custom-select" [(ngModel)]="selectedValue" name="selectCategory">
          <option *ngFor="let category of categories; let i = index" [ngValue]="category.name">{{category.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Dishes</label>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Dish</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dish of dishes">
              <th scope="row">
                <input type="checkbox" [ngModel]="dish.selected" (ngModelChange)="updateDish(dish)" name="dishCheckbox">
              </th>
              <td>{{dish.name}}</td>
              <td>S/. {{dish.price| number:'.2-2'}}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td><strong>S/. {{getSum()| number:'.2-2'}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" class="btn btn-info btn-lg btn-block" (click)="onsubmit()">Order</button>
      <br>
    </form>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <h3>Select one client</h3>
    <div class="form-check" *ngFor= "let client of clients">
      <label class="form-check-label">
        <input [checked]="client.selected" (change)="selectClient(client)" type="radio" name="exampleRadios" id="exampleRadios1">
        {{client.name}}
      </label>
    </div>
    <button type="button" class="btn btn-info" (click)="modalAceptar()">Aceptar</button>
    <button type="button" class="btn btn-light" (click)="modalCancelar()">Cancelar</button>
  </div>
</div>
