<div class="big-container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Check orders</h1>
      <p class="lead">Change the status of the orders</p>
    </div>
  </div>

  <div class="container">
    <p class="lead">
      <select class="custom-select">
        <option selected>Todo</option>
        <option value="0">Comanda</option>
        <option value="1">En Proceso</option>
        <option value="2">Terminada</option>
      </select>
    </p>

    <div id="tables" class="container">
      <table class="table table-overflow">
        <thead>
          <tr>
            <th>#</th>
            <th width="20%">Time</th>
            <th width="20%">Date</th>
            <th width="20%">Dish</th>
            <th width="20%">Client</th>
            <th width="20%">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>5:00PM</td>
            <td>14/09/2017</td>
            <td>Lomo Saltado</td>
            <td>Juan Perez</td>
            <td>
              <select class="custom-select">
                <option selected>Comanda</option>
                <option value="1">En Proceso</option>
                <option value="1">Terminada</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
