<div class="big-container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Check orders</h1>
      <p class="lead">Change the status of the orders</p>
    </div>
  </div>

  <div class="container">
    <p class="lead">
      <select class="custom-select">
        <option selected>Todo</option>
        <option value="0">Comanda</option>
        <option value="1">En Proceso</option>
        <option value="2">Terminada</option>
      </select>
    </p>

    <div id="tables" class="container">
      <table class="table table-overflow">
        <thead>
          <tr>
            <th>#</th>
            <th width="20%">Time</th>
            <th width="20%">Date</th>
            <th width="20%">Dishes</th>
            <th width="20%">Client</th>
            <th width="20%">State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let order of orders; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{order.date| date:'shortTime'}}</td>
            <td>{{order.date| date}}</td>
            <td>
              <span *ngFor="let dish of order.detail">{{dish.name}}<br></span>
            </td>
            <td>{{order.clientName}}</td>
            <td>
              <select class="custom-select" [ngModel]="order.state" (ngModelChange)="changeState(order, $event)">
                <option>Comanda</option>
                <option>En Proceso</option>
                <option>Terminada</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
